body{
    background-color:lightgray;
}
.sizeleft{
    float:left;
}
.sizeright{
    float:right;
}
.header{
    background-color:black;
    color:white;
    padding: 5% 0;
    text-align: center;
}
.content{
    background-color: white;
    margin: 0% 5% 0% 5%;
}

.indelingPic{
    background-image: url("dagindeling.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30%;
    height:50%;
    text-align:center;
    margin:5%;
    padding:5%;
}
.onderzoek{
    background-color:green;
    height: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin:5%;
    padding: 5%;
    text-align: center;
    }

.block{
    background-color:green;
    width: 30%;
    height:30%;
    text-align:center;
    margin:5%;
    padding:5%;
}
